@charset "utf-8"

* {
    padding: 0;
    margin:0;
    font-family: "돋움체",Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgba(238, 238, 238, 0.884);
}
/* header영역 */
header{
    width: 780px;
    height: 40px;
    margin: 0 auto;
    padding: 40px 0 30px;
}

header>h1 {
    height: 50px;
}
header>h1>img {
    width: 260px;
    margin: 0 248px;
}
/* header End  */

 /* content */
 .content {
     padding: 30px;
     width: 400px;
     margin: 0 auto;
 }
 .join_title {
     margin: 17px 0 6px;
     font-size: 15px;
 }
 .join_title>span {
     color: #8e8e8e;
     font-size: 10px;
 }
 span{
     font-size: 15px;
     /* margin-bottom: 20px auto;  */
 }
 .content_input {
     background-color: #fff;
     width: 390px;
     height: 20px;
     border: 1px solid white;
     padding: 8px 15px 8px 14px;
 }
 .content_input>input {
     width: 350px;
     height: 22px;
     padding: 0 20px 0 0;
     border: none;
 }
 .content_input>span {
     color: #8e8e8ee7;
     float:right;
     line-height: 20px;
     font-size:  15px;
 }
 .join_birth> input {
     width: 110px;
     height: 20px;
     border: 1px solid rgba(221, 221, 221, 0.925);
     padding: 10px 12px;
     margin-right: 10px;
     font-size:  16px;
     color: #AAA;
 }
 .join_birth> select {
     width: 80px;
     height: 38px;
     border: 1px solid #eee;
     margin-right:  3px;
     font-size: 13px;
     color: #aaa;
 }
 .day {
     width: 60px;
     height: 30px;
     margin-left: 10px;
 }
 .gender {
     width: 420px;
     height: 25px;
     background-color: white;
     padding: 8px 5px 8px 10px; 
 }
 select {
     width: 420px;
     height: 25px;
     border: none;
     margin-right: 3px;
     font-size: 16px;
     color: black;
 }
 .cellphone_join_group> div {
     width: 400px;
     height: 26px;
     background-color: white;
     margin-bottom: 12px;
     padding: 8px 5px 8px 10px;
 }
 #phonenumber{
     width: 430px;
     height: 30px;
     background-color: #eee;
     margin-bottom:  10px;
     padding: 0;
 }
 #phonenumber> div {
     width: 280px;
     height: 8px;
     background-color: white;
     padding: 8px 5px 8px 10px;
     float: left;
 }
 #phonenumber > button {
     float: right;
     background-color: #03c75be7;
     height: 20px;
     width: 110px;
     border: none;
     color: white;
     font-size: 12px;
 }
 .code_number >input{
    background-color:white;
    width:400px;
    height: 20px;
    border: none;
    font-size: 14px;
 }
 .join_btn {
     background-color: #03c75be7;
     width: 400px;
     height: 53px;
     border: none;
     color: white;
     font-size: 15px;
 }
 footer{
     width: 750px;
     height: 30px;
     margin: 0 auto;
     padding: 25px 0 12px;
 }
 footer img {
     height: 10px;
 }
 ul {
     width: 750px;
     height: 15px;
     margin: 0 auto;
 }
 ul:first-child {
     margin-left: 60px;

 }
 li {
     list-style: none;
     float: left;
     margin-left: 12px;
     font-size: 14px;
 }
 .address {
     padding-left: 150px;
     padding-top: 12px;
 }