@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Sunflower:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/* 나눔고딕, 선플라워만 했음 
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Sunflower', sans-serif; 
font-family: 'Jua', sans-serif;
*/

/* 기본설정 */
* {
    margin:0;
    padding:0;
}

/* 타이틀 폰트 적용 */
.title_font {
    font-family: 'Jua', sans-serif;
}

/* header영역 */
header{
    padding:20px;
    border-bottom: 1px solid #333;
}
/* 여기 없는 부분 */
hr { 
    border: 0;
    border-top: 1px solid #AAA;
    margin: 5px;
}

/* 회원 가입 폼 영역 */
#regFormArea {
    padding: 20px 40px;
    border-bottom: 1px solid #AAA;
}

form label {
    /* 글자들을 위로 올리기 위해서 썼음 */
    display: block;
}

#regForm>table td {
    width: 120px;
    padding: 5px;
}

#regForm input[type=text], #regForm input[type=password] {
    height: 30px;
    width: 200px;
    font-size: 1.2em;
    padding: 0 5px;
}

#regForm input[type=submit] {

    width: 100px;
    height: 50px;

    border: 1px solid #aaa;

    font-size: 1.5em;
    font-family: 'Jua', sans-serif;

    background-color: rgb(134, 194, 44);
}

div.msg {
    color: red;
    display: none;
}

/*  회원 리스트 영역 */
#listArea{
    padding: 20px 40px;
    border-bottom: 1px solid #AAA;
}

#listArea> table {
    margin: 10px 0;

    width: 600px;

    border-collapse: collapse;
}

#listArea>table td, #listArea>table th{
    padding: 10px;
    border: 1px solid #AAA;
    text-align: center;
}