

.gim_logo{
    
    width: 700px;
    height: 400px;
    
    
}
.garnish_logo{
    width: 700px;
    height: 400px;
    
    


}
.card_logo{
    height: 400px;
    width: 700px;
    
    
}
.glass_logo{
    
    height: 400px;
    width: 700px;
}